* {
	color: black;
}

h1.loginWarn {
	color: grey;
	align-content: center;
	text-align: center;
	justify-content: center;
}

.content {
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

.fullPane {
	position: absolute;
	width: 43%;
	left: 25%;
	z-index: 20;
	padding: 1.5rem 0;

	margin-bottom: 2rem;

	background: #ffffff;
}

.full-voteUpBT {
	font-weight: 900;
	font-size: 20px;

	width: 2.5rem;
	height: 2.5rem;

	margin-right: 0.5rem;

	border: none;
	border-radius: 50%;

	background: white;

	transition: 500ms;
}

.full-voteUpBT:focus {
	background-color: lightgreen;
}
.full-voteUpBT:hover {
	background-color: rgb(85, 219, 174);
}

.full-voteDownBT {
	font-weight: 900;
	font-size: 20px;

	width: 2.5rem;
	height: 2.5rem;

	margin-left: 0.5rem;

	border: none;
	border-radius: 50%;

	background: white;

	transition: 500ms;
}

.full-voteDownBT:focus {
	background-color: red;
}
.full-voteDownBT:hover {
	background-color: rgb(219, 85, 107);
}

.full-votePane {
	background: white;
	border-radius: 0;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.full-postPane {
	/* background: #e8e8e8; */
	/* border-radius: 10px; */

	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	margin-bottom: 2rem;

	border: 4px solid #f48c51;
	border-radius: 2rem;

	box-shadow: 0 1rem #f48c51;

	transition: 500ms;
}

.loginPost {
	font-family: DM Sans;
	font-size: 15px;
	text-decoration: none;
	transition: 500ms;
	text-align: center;
	align-content: center;
	justify-content: center;
}
.loginPost:hover {
	background-color: green;
}

.full-post {
	margin-top: 2rem;
	padding: 0 1rem;

	display: flex;
	flex-direction: row;
	font-size: 1rem;
}

.full-postBy {
	display: flex;
	flex-direction: row;
}
.full-postBy p {
	margin: 0;
	margin-right: 0.5rem;
}

.full-postBy .full-displayName {
	font-size: 1rem;
	font-weight: 700;
}

.full-postBy .username {
	font-size: 0.7rem;
	color: grey;
}

.full-postBy .full-timestamp {
	color: gray;
}

.full-infoPane {
	border-radius: 0;
	margin: 0;
	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.full-infoPane p {
	margin: 0;
}

.fullprofilePic {
	object-fit: cover;
	width: 70px;
	height: 70px;
	border-radius: 50%;

	margin: 0.5rem;
	margin-bottom: 1rem;
}

.full-postText textarea {
	width: 100%;
	margin: 0.2rem;
	resize: none;
	font-size: 1.5rem;

	border: none;
	outline: none;
}

.full-postForm {
	width: 100%;
	margin: 1rem 1rem;
}

.full-postFormBox {
	display: flex;
	flex-direction: row;
	margin: 0rem;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
}

.full-postOption {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.full-postBT {
	justify-self: flex-end;
}

.full-postContent {
	margin-top: 0;
	padding-top: 0;

	width: 100%;

	font-size: 1rem;
	font-weight: 500;

	/* border: 1px solid black; */
}

.full-postInfo {
	width: 100%;
}
