* {
	color: black;
}

h1.loginWarn {
	color: grey;
	align-content: center;
	text-align: center;
	justify-content: center;
}

.content {
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

.fullPane {
	position: absolute;
	width: 60%;
	left: 8%;
	top: 85px;
	z-index: 20;
	font-family: DM Sans;
	padding: 0.5rem 0;

	background: #ffffff;
	border: 1px solid lightgrey;
	/* box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25); */
	border-radius: 20px;
}

.full-voteUpBT {
	font-weight: 900;
	font-size: 20px;
	border: transparent;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;

	transition: 500ms;
}

.full-voteUpBT:focus {
	background-color: lightgreen;
}
.full-voteUpBT:hover {
	background-color: rgb(85, 219, 174);
}

.full-voteDownBT {
	font-weight: 900;
	font-size: 20px;
	border: transparent;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;

	transition: 500ms;
}

.full-voteDownBT:focus {
	background-color: red;
}
.full-voteDownBT:hover {
	background-color: rgb(219, 85, 107);
}

/* .voteNum {
	font-family: DM Sans;
	font-style: normal;
	font-size: 20px;
	font-weight: bold;
	color: gray;
	margin-right: 5px;
	transition: 1500ms;
}
.voteNum:active {
	color: green;
} */

.full-votePane {
	background: #f0bfa3;
	border-radius: 0;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.full-postPane {
	/* background: #e8e8e8; */
	/* border-radius: 10px; */

	display: flex;
	flex-direction: column-reverse;
	margin: 0;

	color: black;

	transition: 500ms;
}

.full-postPane:hover {
	background: rgb(226, 226, 226);
}

.loginPost {
	font-family: DM Sans;
	font-size: 15px;
	text-decoration: none;
	transition: 500ms;
	text-align: center;
	align-content: center;
	justify-content: center;
}
.loginPost:hover {
	background-color: green;
}

.full-post {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
}

.full-postBy {
	display: flex;
	flex-direction: row;
}
.full-postBy p {
	margin: 0;
	margin-right: 5px;
}

.full-postBy .full-displayName {
	font-size: 1.2rem;
	font-weight: 700;
}

.full-postBy .full-timestamp {
	color: gray;
}

.full-infoPane {
	background: #f0bfa3;
	border-radius: 0;
	margin: 0;
	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.full-infoPane p {
	margin: 0;
}

.full-profilePic {
	object-fit: cover;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	margin: 0.5rem;
}

.full-postText textarea {
	width: 100%;
	margin: 0.2rem;
	resize: none;
	font-size: 1.5rem;

	border: none;
	outline: none;
}

.full-postForm {
	width: 100%;
	margin: 1rem 1rem;
}

.full-postFormBox {
	display: flex;
	flex-direction: row;
	margin: 0rem;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid lightgrey;
}

.full-postOption {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.full-postBT {
	justify-self: flex-end;
}
