@media only screen and (max-width: 1000px) {
	.side-navbar {
		visibility: hidden;
	}
}

.side-navbar {
	height: 80%; /* Full-height: remove this if you want "auto" height */
	width: 23%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	top: 1rem; /* Stay at the top */
	right: 4%;
	overflow-x: hidden; /* Disable horizontal scroll */
}

.trends {
	position: relative;
	margin: 1rem;
	padding-top: 0.5rem;
	width: 90%;
	height: 80%;

	background: rgb(247, 247, 247);
	border-radius: 1rem;
	z-index: -1;
}

.each-slide {
	margin: 2rem;
}

.trend-profilePic {
	width: 50px;
	height: 50px;

	border-right: 50%;
}
