.com-pane {
	position: absolute;
	margin: 0;
	width: 43%;
	left: 25%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	/* border: 1px solid lightgrey; */
}

.auth-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

.myCom {
	padding-left: 1rem;

	width: 100%;

	/* border: 1px solid lightgrey; */
	border-width: 0 0 1px 0;
}

.myComInfo {
	display: flex;
	justify-content: space-between;
}

.ourCom {
	margin-top: 2rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.myComTextPane {
	width: 90%;
}

.createComBtn {
	margin: 1rem;

	padding: 1rem;

	width: 6rem;
	height: 4rem;

	background: #f48c51;

	border: none;
	border-radius: 1rem;

	font-size: 1.2rem;
	font-weight: 500;
	color: white;

	transition: 0.2s;
}

.createComBtn:hover {
	transform: translateY(-0.5rem);

	box-shadow: 0 0.5rem #d37a46;
}

.createComBtn:active {
	transform: translateY(0);
	box-shadow: 0 0rem #d37a46;
}

.com-btnPane {
	width: 100%;

	border: 1px solid black;
}

.com-popup-content {
	display: flex;
	flex-direction: column;

	width: 60%;
	height: auto;
	padding: 0;

	/* background: red; */
}

@media only screen and (max-width: 800px) {
	.com-pane {
		position: absolute;
		margin: 0;
		margin-bottom: 10rem;
		margin-top: 4rem;
		width: 100%;
		left: 0%;
		top: 0;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;

		/* border: 1px solid lightgrey; */
	}

	.myCom {
		padding-left: 0;
		margin: 0;
	}

	.myComInfo {
		padding: 0 1rem;
	}

	.ourCom {
		margin-bottom: 6rem;
	}
	.com-popup-content {
		display: flex;
		flex-direction: column;

		width: 100%;
		height: 80%;
		height: auto;
		padding: 0;

		/* background: red; */
	}
} ;
