.profilePane {
	position: absolute;
	left: 25%;

	width: 43%;

	border: 1px solid black;
}

.editProfilePane {
	display: flex;
	justify-content: center;

	border: 1px solid black;
}

.editProfileForm {
	display: flex;
	flex-direction: column;
}
