.commentPane {
	display: flex;
	flex-direction: column-reverse;
	margin: 0;

	transition: 500ms;
}

.comment {
	margin: 0.5rem 0;

	display: flex;
	flex-direction: row;
	font-size: 1rem;

	border: 2px solid #f48c51;
	border-radius: 2rem;
}

.commentInfoPane {
	background: white;
	border-radius: 0;
	margin: 0;
	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	transition: 500ms;
}

.commentInfoPane p {
	margin: 0;
}

.commentVotePane {
	padding: 0.5rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 1px solid lightgrey;
	border-width: 0 1px 0 0;
}

.voteCommentPane {
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	/* border: 1px solid black; */
}

.commentInfo {
	padding-left: 1rem;

	width: 90%;
}

.commentForm {
	margin-bottom: 1rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
}

.commentTextarea {
	padding: 0.5rem;

	width: 100%;

	resize: none;
	outline: none;
	white-space: pre-wrap;

	font-size: 1rem;

	border: 1px solid orange;
	border-radius: 1rem;

	align-self: center;

	transition: 0.2s;
}

.commentTextarea:focus {
	border-width: 2px;
}

.postCommentBtn {
	margin: 0;
	margin-top: 1rem;

	background: #f48c51;

	height: 2rem;

	color: white;
	font-weight: 700;
	border: none;
	border-radius: 3rem;

	font-size: 1rem;

	transition: 0.3s;
}

.postCommentBtn:hover {
	transform: translateY(-3px);
}

.postCommentBtn:active {
	transform: translateY(5px);
}

.voteUpBTC {
	font-weight: 900;
	font-size: 20px;

	width: 2.5rem;
	height: 2.5rem;

	border: none;
	border-radius: 50%;

	background: white;

	transition: 500ms;
}

.voteUpBTC:focus {
	background-color: lightgreen;
}
.voteUpBTC:hover {
	background-color: rgb(85, 219, 174);
}

.voteDownBTC {
	font-weight: 900;
	font-size: 20px;

	width: 2.5rem;
	height: 2.5rem;

	border: none;
	border-radius: 50%;

	background: white;

	transition: 500ms;
}

.voteDownBTC:focus {
	background-color: red;
}
.voteDownBTC:hover {
	background-color: rgb(219, 85, 107);
}

.commentBy {
	width: 95%;

	display: flex;
	align-items: center;

	/* border: 1px solid black; */

	font-size: 1rem;
}

.editCommentPane {
	padding: 1rem;

	width: 90%;

	display: flex;
	flex-direction: column;

	border: 1px solid grey;
	border-radius: 1rem;

	font-size: 1rem;
}

.editCommentArea {
	width: 90%;

	border: none;

	font-size: 1rem;

	resize: none;
}

.editCommentArea:focus {
	outline: none;
}

.saveComment {
	margin-left: auto;
	padding: 0.5rem;

	border: none;
	border-radius: 1rem;

	background: #f48c51;

	font-size: 1rem;
	color: white;
	font-weight: 600;
}
