@font-face {
	font-family: DM Sans;
	src: url('../../assets/DMSans-Regular.ttf');
}

* {
	color: black;
}

h1.loginWarn {
	color: grey;
	align-content: center;
	text-align: center;
	justify-content: center;
}

.card {
	position: absolute;
	width: 43%;
	left: 25%;
	padding: 0;

	z-index: 20;
	font-family: DM Sans;

	background: #ffffff;
	border: 1px solid lightgrey;
	/* box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25); */
	/* border-radius: 20px; */
}

.content {
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

.voteUpBT {
	font-weight: 900;
	font-size: 20px;
	border: transparent;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;

	transition: 500ms;
}

.voteUpBT:focus {
	background-color: lightgreen;
}
.voteUpBT:hover {
	background-color: rgb(85, 219, 174);
}

.voteDownBT {
	font-weight: 900;
	font-size: 20px;
	border: transparent;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;

	transition: 500ms;
}

.voteDownBT:focus {
	background-color: red;
}
.voteDownBT:hover {
	background-color: rgb(219, 85, 107);
}

/* .voteNum {
	font-family: DM Sans;
	font-style: normal;
	font-size: 20px;
	font-weight: bold;
	color: gray;
	margin-right: 5px;
	transition: 1500ms;
}
.voteNum:active {
	color: green;
} */

.votePane {
	background: white;
	border-radius: 0;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.postPane {
	/* background: #e8e8e8; */
	/* border-radius: 10px; */

	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	padding-top: 1rem;

	border: solid lightgrey;
	border-width: 1px 0;

	color: black;

	transition: 500ms;
}

.postPane:hover {
	background: rgb(226, 226, 226);
}

.postPane:hover .infoPane {
	background: rgb(226, 226, 226);
}

.loginPost {
	font-family: DM Sans;
	font-size: 15px;
	text-decoration: none;
	transition: 500ms;
	text-align: center;
	align-content: center;
	justify-content: center;
}
.loginPost:hover {
	background-color: green;
}

.post {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
}

.postBy {
	display: flex;
	flex-direction: row;
}
.postBy p {
	margin: 0;
	margin-right: 5px;
}

.postBy .displayName {
	font-size: 1rem;
	font-weight: 700;
}

.postBy .timestamp {
	color: gray;
}

.postContent {
	font-size: 1.2rem;
	font-weight: 500;
}

.infoPane {
	background: white;
	border-radius: 0;
	margin: 0;
	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	transition: 500ms;
}

.infoPane p {
	margin: 0;
}

.profilePic {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;

	margin: 0.5rem;
}

.postText textarea {
	width: 80%;
	margin: 0.2rem;
	resize: none;
	font-size: 1.2rem;

	border: none;
	outline: none;
}

.postForm {
	width: 100%;
	margin: 1rem 1rem;
}

.postFormBox {
	display: flex;
	flex-direction: row;
	margin: 0rem;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid lightgrey;
}

.postOption {
	width: 100%;
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
}

.postBT {
	background: #f48c51;

	width: 15%;
	height: 3rem;

	color: white;
	font-weight: 700;
	border: none;
	border-radius: 3rem;

	font-size: 1rem;

	margin-left: auto;
}

.btn {
	background-color: white;
	border: none;

	font-size: 1rem;
}

.btnBox {
	margin: 2rem;
	display: flex;
	flex-direction: row;

	justify-content: center;
}

.conPostBtn {
	background: #f48c51;

	width: 80%;
	height: 4rem;

	color: white;
	font-weight: 700;
	border: none;
	border-radius: 3rem;

	font-size: 1.3rem;

	margin: auto;

	transition: 0.3s;
}

.conPostBtn:hover {
	transform: scale(1.05);
}
.conPostBtn:active {
	background: #cc7746;
}

.image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  }
