.about-heading {
	color: rgb(26, 26, 26);
	display: inline;
}

.about-orangeHead {
	color: #f48c51;
	display: inline;
}

.about-Pane {
	position: absolute;
	left: 25%;
	width: 65%;

	align-content: center;
	text-align: center;
	justify-content: center;
	margin-top: 20%;
}

@media only screen and (max-width: 800px) {
	.about-Pane {
		position: absolute;
		left: 0%;
		width: 100%;
		height: 100%;

		align-content: center;
		text-align: center;
		justify-content: center;
		margin-top: 20%;
	}
}
