@font-face {
	font-family: Public_Sans;
	src: url('PublicSans-VariableFont_wght.ttf');
}

ul {
	list-style-type: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar {
	position: absolute;
	left: 7%;
	top: 10%;

	width: 15%;
	height: 100%;
}

.menu {
	display: flex;
	flex-direction: column;

	line-height: 3rem;
	font-size: 1.5rem;

	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
}

.siteName {
	padding-left: 1rem;
	padding-right: 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;

	font-weight: 700;
	text-decoration: none;

	transition: 0.1s;
}

.siteName:hover {
	background-color: #ffccaef1;
	border: none;
	border-radius: 3rem;

	transform: scale(1.2);
}

.siteName:active {
	transform: scale(1);
}

.siteName:hover h4 {
	color: #f8640e;
}

.siteName h4 {
	margin: 0.5rem;
}

.create-button {
	position: absolute;
	width: 12%;
	height: 8%;
	bottom: 5%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;

	font-size: 1.5rem;
	font-weight: 700;
	color: white;

	background-color: #f48c51;
	border: none;
	border-radius: 1rem;

	transition: 0.2s;
}

.create-button:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 0.5rem #d37a46;
}

.create-button:active {
	transform: translateY(0);
	box-shadow: 0 0rem #d37a46;
}

@media only screen and (max-width: 800px) {
	.siteName h4 {
		display: none;
	}

	.navbar {
		left: 0;
		top: 92%;

		position: fixed;

		width: 99vw;
		height: 5rem;

		border: 1px solid black;

		background: white;

		z-index: 20;
	}

	.menu {
		padding: 1rem 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;

		background: white;

		position: fixed;
		z-index: 20;
	}

	.create-button {
		display: none;
	}
}
