body {
	color: black;
}

.helpBox {
	margin: 1rem;
	padding: 2rem;

	width: 35%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	border: 3px solid #f48c51;
	border-radius: 1rem;

	transition: 0.2s;
}

.helpBox:hover {
	background: #f48c51;
	color: white;
	transform: translateY(-1rem);
	box-shadow: 0 1rem #d37a46;

	cursor: pointer;
}

.helpBox:hover h2 {
	color: white;
}

.helpBox:active {
	transform: translateY(0rem);
	box-shadow: 0 0rem #d37a46;
}

.seeMoreHelpBtn {
	padding: 0.5rem;

	width: 100%;

	background: #f48c51;

	border: none;
	border-radius: 1rem;

	font-size: 1rem;
	font-weight: 500;
	color: white;

	transition: 0.2s;
}

.seeMoreHelpBtn:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 0.5rem #d37a46;
}

.seeMoreHelpBtn:active {
	transform: translateY(0);
	box-shadow: 0 0rem #d37a46;
}

/* Popups */
.popup-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 2rem;
}

.modal {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.close {
	position: absolute;

	align-self: flex-end;

	transition: 0.2s;
}

.close:hover {
	transform: scale(1.2);
}

.close:active {
	transform: scale(1);
}

.popup-content {
	width: 50%;
}

.popup .modal .header {
	border-bottom: 1px solid lightgrey;
}

.popup .modal .content {
	margin-top: 2rem;
}

/* Sub Popups */
.subPopup-content {
	display: flex;
	flex-direction: column;
	width: 50%;
}
