@font-face {
	font-family: Iconic;
	src: url('./assets/Free-Sans/FreeSans.ttf');
}

* {
	font-family: Iconic;
}

html {
	font-size: 16px;
}

button {
	transition: 0.2s;
}

button:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 0.5rem #d37a46;
}

button:active {
	transform: translateY(0);
	box-shadow: 0 0rem #d37a46;
}

/* dark mode goes here 
@media (prefers-color-scheme: light) {
	body, h1, h2, h3 {
	  background-color: white;
	  color: black;
	}
  }
@media (prefers-color-scheme: dark) {
	body, h1, h2, h3 {
	  background-color: black;
	  color: white;
	}
}
/**/
/*scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(180, 180, 180);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f48c51;
}
