body {
	margin: 3rem;
	padding-right: 0rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: #F0F0F0; */
	background: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	transition: 0.3s;
}

button:hover {
	transform: translateY(-3px);
}

button:active {
	transform: translateY(5px);
}
/* dark mode goes here 
@media (prefers-color-scheme: light) {
	body, h1, h2, h3 {
	  background-color: white;
	  color: black;
	}
  }
@media (prefers-color-scheme: dark) {
	body, h1, h2, h3 {
	  background-color: black;
	  color: white;
	}
}
/**/
/*scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(180, 180, 180);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f48c51;
}
