@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
}

/* dark mode goes here 
@media (prefers-color-scheme: light) {
	body, h1, h2, h3 {
	  background-color: white;
	  color: black;
	}
  }
@media (prefers-color-scheme: dark) {
	body, h1, h2, h3 {
	  background-color: black;
	  color: white;
	}
}
/**/
/*scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(180, 180, 180);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f48c51;
}
